.apresentacao{
    width: 100%;
    max-width: 3440px;
    height: 93dvh;
    max-height: 1440px;
    background-color: rgba(14, 106, 190, 1);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/fundo-animado.gif);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-color: aliceblue;
}
.group_text_apresentacao{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    transition: 1s;
    overflow: hidden;

}
.txt_apresentacao1{
    grid-column: 1;
    transition: 1s;
    color: white;
    padding-right: 5rem;
    grid-row: 1;
}
.txt_apresentacao2{
    grid-row: 2;
    transition: 1s;
    grid-column: 2;
    color: white;
    display: flex;
    align-items: end;
    padding-left: 5rem;
    padding-bottom: 1rem;
}
.mobile-img{
    width: 100%;
    background: url(./img/monochrome-black-abstract-yc-1360x768.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 31;
    transition: 1s;
    display: none;
}
.title-html{
    width: 100%;
    height: 5rem;
    padding-left: 3rem;
    background-color: white;
    font-family: 'open-sans';
    display: flex;
    align-items: center;
    color: white;

}
.title-html h1{
    background-color: rgba(14, 106, 190, 1);
    width: 16rem;
    height: 4rem;
    font-family: 'open-sans';
    border-radius: 2rem;
    font-size: 2rem;
    color: white;
    align-items: center;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin: 0;
}
.group_cards{
    min-height: 100vh;
    width: 100%;
    max-width: 3440px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 25rem);
    justify-content: center;
    gap: 2rem;
    padding: 0rem 3rem;
    background-color: white;


}
.card-adocao {
    background-color: #ffffff;
    width: 100%;
    max-width: 25rem; /* Largura máxima em rem para responsividade */
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 0.375rem;
}
.card-adocao:hover {
    transform: translateY(-0.5rem); /* Efeito sutil ao passar o mouse */
}
.card-header {
    position: relative;
    height: 16rem; /* Altura da área da foto */
    overflow: hidden;
    padding: 0.5rem;
}
.pet-foto {
    width: 100%;
    max-width: 25rem;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    background-color: #3333334f;
    vertical-align: middle;
    border-style: none;
    border-radius: 0.5rem;
}

.card-body{
    padding: 1.5rem;
    padding-bottom: 1rem;
    margin: 0.875rem;
}
.pet-nome {
    font-size: 1.75rem; 
    color: #333;
    margin-bottom: 0.5rem;
}
.pet-descricao {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 1rem;
    line-height: 1.5;
}
.pet-caracteristicas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 0.75rem;
    margin-bottom: 0.875rem;
    font-size: 0.875rem;
}
.caracteristica-item {
    padding: 0.5rem;
    background-color: #e6f0ff; 
    border-radius: 0.5rem;
    color: #4a6fa5;
}
.caracteristica-item strong {
    display: block;
    color: #2c3e50;
    margin-bottom: 0.2rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: normal;
}
.btn-adotar {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: center;
    background-color: #0E6ABE;/* Azul da marca */
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 1.125rem; /* 18px */
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
}
.btn-adotar:hover {
    background-color: #2c3e50; /* Azul escuro no hover */
}
/*=================================================================================================*/
/*modal*/
.modal-overlay-index{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-body-index{
    background-color: white;
    width: 60rem;
    height: 39rem;
    border-radius: 8px;
    padding: 2rem 3rem;
    position: relative;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.btn-fechar-index {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.btn-fechar-index:hover {
    color: red;
}
.titulo-modalIndex{
    color: white;
    height: 4rem;
    width: 10rem;
    background-color: rgba(14, 106, 190, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-bottom: -2rem;
}
.titulo2-modalIndex{
    height: 5rem;
    width: 13rem;
    background-color: rgba(14, 106, 190, 1);
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    border-radius: 1.0rem;
}
.titulo2-modalIndex span{
    font-size: 1.5rem;
    font-weight: 600;
}
.titulo2-modalIndex p{
    font-size: 0.75rem;
}

.itens-modal-index1{
    height: 100%;
    width: 23rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.itens-modal-index2{
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*laod direito do modal*/

.container-modal-index {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    width: 29rem;
}
.info-pet {
    background: #f7f9fc;
    border-radius: 1.5rem;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}
.info-pet-header {
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
}
.info-pet-header h3{
    font-weight: 600;
    color: white;
    width: 18rem;
    text-align: center;
    background-color: rgba(14, 106, 190, 1);
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.8rem;
    font-size: 1rem;
}
.info-pet-header2{
    width: 100%;
    height: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.info-pet-header2 h3{
    font-weight: 600;
    color: white;
    text-align: center;
    background-color: rgba(14, 106, 190, 1);
    position: absolute;
    padding: 0.5rem 1.5rem;
    border-radius: 0.8rem;
    font-size: 1rem;

}
.info-pet-body {
    padding: 1rem;
    font-size: 0.875rem;
    color: #333;
}
.group_info_pets{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}
.group_info_pets div{
    background-color: #adc7e2;
    height: 2rem;
    width: 13rem;
    display: flex;
    align-items: center;
    padding-left: 0.475rem;
    border-radius: 0.5rem;
    margin-left: 0.275rem;
}
.group_info_pets p{
    margin-left: 0.2rem;
    height: 0.875rem;

}
.motivo {
    background: white;
    border-radius: 0.875rem;
    border: 0.1rem solid #ddd;
    padding: 0.75rem;
}
