/*tela_config_perfil.php*/
.config_tela{
    height: 90vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    max-width: 3440px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container_confg{
    width: 54rem;
    height: 32rem;
    border: 1px rebeccapurple solid;
    display: grid;
    grid-template-columns: 20rem 34rem;
    grid-template-rows: 5rem 27rem;
}
.imagem-configuracoes{
    border: 1px rgb(109, 109, 109) solid;
    height: 32rem;
    background-color: rgb(109, 109, 109);

}
.confg_menu{
    border: 1px #CACACA solid;
    height: 5rem;
    grid-row: 1;
    background-color: #CACACA;
    grid-column: 2;
    
}
.itens_confg1{
    background-color: #F5F5F5;
    height: 27rem;
    grid-row: 2;
    grid-column: 2;


    
}
.itens_confg2{
    border: 1px rgb(153, 51, 139) solid;
    display: none;
    grid-row: 2;
    grid-column: 2;
}