/*tela_config_perfil.php*/
.config_tela{
    height: 90vh;
    width: 100%;
    background-color: rgb(188, 188, 207);
    max-width: 3440px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
