.fundo-perfil {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(208, 224, 240);
}

.botoes_perfil a {
    background-color:rgba(145, 190, 231, 1);
    font-family: 'open-sans';
    height: 3rem;
    width: 10rem;
    color: black;
    position: relative;
    left: 9rem;
    margin: 1rem;
}

.fundo-perfil a:hover {
    color: #fff;
    background-color: #0a559b;

}

.caixa-aviso-perfil {
    position: relative;
    left: 6rem;
    width: 28rem;
    height: 8rem;
    background-color: #0E6ABE;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin: 2rem;
}

.texto_titulo_perfil {
    padding: 1rem;
}

.texto_titulo_perfil h1 {
    margin: 1rem 0 0 0;
    font-family: 'open-sans';
    font-size: 3rem;
    color: #ffff;
    font-weight: 600;
}

.texto_titulo_perfil p {
    color: #ffff;
    font-family: 'open-sans';
    font-size: 1.5rem;
}

.grid_anuncio {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr)); */
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(2, 30rem);
    /* align-items: center; */
    gap: 3rem;
    justify-items: center;
    /* margin: 2rem; */
      /* altura automática */
     /* controla o total de altura, opcional */
    border: 1px red solid;
}


.grid_anuncio a {
    position: relative;
    right: 10rem;


}


.card_animal_perfil {
    position: relative;
    top: 2rem;
    left: 10rem;
    height:19rem ;
    width: 20rem;
    border-radius: 25px;
    background-color:#a05151;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card_animal_perfil h3 {
   position:absolute;
    z-index: 2;
    background-color: rgba(145, 190, 231, 1);
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.card_animal_perfil img {
    position:absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.card_animal_perfil h1 {
    color: #ffff;
    
}
.cardzin_animal_perfil {
    z-index: 3;
    position: absolute;
    bottom: 0rem;
    
    height: 5rem;
    width: 20rem;
    
    align-items: center;
    border-radius: 0px 0px 24px 24px;

    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: space-around;
    display: flex;
}

.botoes_perfil2{
    z-index: 3;
    position:absolute;
    bottom: 0;
    left: 25rem;



}

