body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html {
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 260px;
    background-color: #343a40;
    color: white;
    flex-shrink: 0;
    transition: all 0.3s;
}

.sidebar.hidden {
    margin-left: -260px;
}

.sidebar a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background 0.2s;
}

.sidebar a:hover {
    background-color: #495057;
    color: #fff;
}

.sidebar h4 {
    padding: 20px;
    margin: 0;
    background-color: #212529;
    text-align: center;
}

.submenu a {
    padding-left: 40px;
    font-size: 0.95rem;
}

.content {
    flex-grow: 1;
    background-color: #f8f9fa;
    padding: 30px;
    transition: margin-left 0.3s;
}

.topbar {
    background-color: #212529;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.links {
    background-color: #6b6b6e;
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.preview-card {
    width: 150px;
    flex: 0 0 auto;
}

.preview-card img {
    object-fit: cover;
    width: 100%;
    height: 100px;
    border-radius: 8px;
}

.css-table {
    table-layout: auto !important;
    width: auto !important;
}

/* Evita quebra de linha se quiser manter o tamanho exato do texto */

.tr-css th {
    white-space: nowrap;
}

.tr-css td {
    white-space: nowrap;
}

.modal-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}